.main-section {
    background-color:rgb(255, 255, 255);
    background-size: cover;
    /* background-image: url('/public/assets/media/img/nubes.jpg'); */
    /* background-image: url('/public/assets/media/img/fondo-nevado.jpg'); */
    background-image: url('../assets/media/img/index/fondo-white.jpg');
}


.bg-navbar {
    background-color: #9B9B9B;
}

.bg-gray {
    background-color: rgb(188, 185, 185);
}

.bg-dark-trans{
    background-color: rgba(0, 0, 0, 0.401);
}



@media (max-width: 650px) {
    .main-section {
        background-size: contain;
    }
}
  